body,
div,
section,
header,
main,
span,
footer,
nav,
a,
h1,
h2,
h3,
h4,
p,
button,
form,
footer,
figure,
label
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e1e1e1;
    font-family: Arial;
    font-size: 10px;
    max-height: 100wh;

}

h3,
h4,
h5{
    font-family: Arial;
    font-size: 1.4em;
    color: #ff9e41;
}

#headerLayout
{
    background-color: #c9cacc;
    border-bottom: 2px solid #fff;
    height: 200px;
    padding: 20px 288px;
    padding-bottom: 0;
    z-index: 1;
}
#container
{
    position: absolute;
    width: 960px;
    left:0;
    right:0;
    top: 25px;
    margin-left:auto;
    margin-right:auto;
    z-index: 50;
}
#container #topHeader{
    background: url('../media/headerright.png'), linear-gradient(#19f706 55%, #10bc1c);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: #000 0px 1px 5px;
    height: 175px;
    display: flex;
    justify-content: space-between;
    padding: 70px 30px;
}
#container header h1{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
#container header h2{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

#container #headerSearch button{
    margin-top: 5px;
    padding: 2px;
}
#container #headerSearch a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    vertical-align: bottom;
}

#mainContainer{
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    grid-template-rows: 40px minmax(40vh, auto) 30px;
    margin: 0 auto;
    width: 960px;
}

#mainContainer header nav{
    background: #c9cacc;
    box-shadow: #000 0px 1px 5px;
    font-family: Arial;
    font-size: 12px;
    display: flex;
    height: 40px;
    width: 100%;
    
}
#mainContainer header nav a{
    border-right: 2px solid #9c9e9d;
    color: #000;
    height: 40px;
    display: block;
    padding: 15px 50px;
    text-decoration: none;
    align-self: center;
}
#mainContainer header nav a:hover{
    background-color: #767676;
    color: #fff;
}

#mainContainer .active{
    background-color: #000;
    color: #fff;
}

#mainContent{
    background-color: #fff;
    box-shadow: #000 0px 1px 5px;
    display: grid;
    grid-template-areas: 
        "content split offersPanel";
    grid-template-columns: auto 2px 240px;
    grid-area: main; 
    padding: 5px;
    
    overflow-wrap: break-word;
}

#mainContent #split{
    grid-area: split;
    background-color: #EDEDED;
    height: 85%;
    margin-top: 30px;
}

#mainContent #content{
    grid-area: content;
    margin-right: 10px;
    padding: 5px ;
}

#mainContent #content .view-title{
    border-bottom: 2px solid #EDEDED;
    margin-bottom: 5px;
   
    padding-bottom: 4px;
}

#mainContent #offersPanel{
    grid-area: offersPanel;
    margin-left: 5px;
    padding: 5px;
}

#mainContent #offersPanel h3{
    border-bottom: 2px solid #EDEDED;
    margin-bottom: 5px;
   
    padding-bottom: 4px;
}

#mainContent #offersPanel .offers-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
}
#mainContent #offersPanel .offers-list a{
    text-decoration: none;
    color: inherit;
}

#mainContent #offersPanel .offers-list .product-item{
    border: 2px solid #EDEDED;
    text-align: center;
}

#mainContent #offersPanel .offers-list .product-item h4{
    color: #000;
    font-weight: 500;
}

#mainContent #offersPanel .offers-list .product-item .price-before .line{
    font-size: 1.2em;
    text-decoration: line-through;
}

#mainContent #offersPanel .offers-list .product-item .price-after{
    font-size: 1.3em;
    color: red;
}

footer{
    grid-area: footer;
    background-color: #c9cacc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: #000 0px 1px 5px;
    text-align: center;
    padding: 5px;
    color: #a4a4a4;
    font-size: 1.2em
}

#home article {

    font-size: 1.3em;
}
#home article img{
    max-height: 204px;
    max-width: 268px;
    float: right; 
    margin: 0px 15px 15px 10px;
}
#home article p{
    width: 100%;
}

#categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 15px;
    margin-top: 50px;
}

#categories #category-item{
    font-size: 1.2em;
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
}
#categories #category-item a {
    color: inherit;
    text-decoration: none;
}

#products
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    padding: 10px 5px;
}

#products article{
    border: 2px solid #EDEDED;
    display: grid;
    grid-template-columns: auto 120px;
    grid-column-gap: 180px;
    padding: 5px 10px;
}

#products article .product-item p{
    margin-bottom: 20px;
    margin-top: 5px;
}

#products article .product-item h3{
    border-bottom: 0;
    font-size: 1.5em;
    font-weight: 800;
}

#products .product-info{
    display: flex;
    justify-content: space-between;
}
#products  article .product-item .product-info p{
    margin-bottom: 0;
}
#products .product-info a {
    color: #ff9e41;
    font-size: 1.2em;
}

#products .pages{
    color: #ff9e41;
    display: flex;
    font-size: 1.2em;
    justify-content: flex-end;
    margin-right: 20px;
}

.pages a {
    color: #ff9e41;
    margin: 0 2px;
}

.pages .currentPage{
    text-decoration: none;
}
#productView{
    padding-left: 15px;
    padding-top: 10px;
}
#productView article{
    display: grid;
    grid-template-areas: 
        ". productTitle"
        "productImage productDesc"
        "productColors productPrice";
    grid-template-columns: 170px auto;
    grid-column-gap: 15px;
}

#productView article .product-title{
    grid-area: productTitle;
    margin-bottom: 15px;
}
#productView article img{
    grid-area: productImage;
}
#productView article .product-desc{
    grid-area: productDesc;
    margin: 15px 0;
}
#productView article .product-price{
    grid-area: productPrice;
    margin-top: 20px;
}
#productView article .product-colors{
    grid-area: productColors;
}
#productView article .product-colors h3{
    margin-bottom: 5px;
    margin-top: 10px;
}

#productView article .product-colors img{
    margin-right: 5px;
}

#searchForm form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
}

.input-field{
    height: 50%;
    margin-top: 5px;
}

#newsProducts
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-row-gap: 10px;
    padding: 10px 5px;
}

#newsProducts article{
    border: 2px solid #EDEDED;
    display: grid;
    grid-template-columns: auto 120px;
    grid-column-gap: 180px;
    padding: 5px 10px;
}

#newsProducts article .product-item p{
    margin-bottom: 20px;
    margin-top: 5px;
}

#newsProducts article .product-item h3{
    border-bottom: 0;
    font-size: 1.5em;
    font-weight: 800;
}

#newsProducts .product-info{
    display: flex;
    justify-content: space-between;
}
#newsProducts  article .product-item .product-info p{
    margin-bottom: 0;
}
#newsProducts .product-info a {
    color: #ff9e41;
    font-size: 1.2em;
}

#newsProducts .pages{
    color: #ff9e41;
    display: flex;
    font-size: 1.2em;
    justify-content: flex-end;
    margin-right: 20px;
}

#contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact img{
    width: 100%;
    height: auto;
}

.contact-info{
    font-size: 1.2em;
    padding: 25px;
}
.contact-info h3{
    color: #000;
}